.caja {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}

.uno, .dos, .cuatro {
    background-color: darkgreen;
}
.tres, .ocho, .seis {
    background-color: red;
}
.cinco, .siete {
    background-color: #ff9900;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    max-width: 800px;
    height: 500px;
    margin: 20px auto;
    
    border: 1px solid black;
    
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    
   
}

#container {
    grid-template-areas:
        "uno dos dos tres"
        "uno cinco siete cuatro"
        "uno ocho seis cuatro";
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.cuatro {
    grid-area: cuatro;
}

.cinco {
    grid-area: cinco;
}

.seis {
    grid-area: seis;
}

.siete {
    grid-area: siete;
}

.ocho {
    grid-area: ocho;

}